html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #333333;
  line-height: 1.8;
  font-size: 1rem;
}

.mainNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

.navbar {
  display: flex;
}

.navbarLink {
  color: #666;
  text-align: center;
  padding: 0.5rem 20px;
  text-decoration: none;
  border-radius: 0.2rem;
}

.navbarLinkActive {
  color: #666;
  text-align: center;
  padding: 0.5rem 20px;
  text-decoration: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #04AA6D;
}

.navbarLink:hover {
  background-color: #ddd;
}

.icon {
  display: none;
  color: #138c11;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .icon {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {
    display: flex;
    flex-direction: column;


  }


}


#correctAnswer {
  color: green;
  font-weight: bold;
}

#wrongAnswer {
  color: red;
}