html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #333333;
  line-height: 1.8;
  font-size: 1rem;
}

.site-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;

  text-shadow: 1px 1px 2px #999;
  line-height: 1;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mainNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

}

.navbar {
  display: flex;
}

.navbar a {

  text-align: center;
  padding: 0.5rem 20px;
  text-decoration: none;
  border-radius: 0.2rem;
}


.activeLink {
  color: white;
  background-color: #04AA6D;
}

.inactiveLink {
  color: #666;
}

.navbar a:hover:not(.activeLink) {
  background-color: #ddd;
}

.icon {
  display: none;
  color: hsl(119, 100%, 17%);
  font-size: 1.5rem;
  margin-right: 0.7rem;
}

@media screen and (max-width: 768px) {
  .mainNav {
    justify-content: space-between;
  }

  .navbar a:not(.activeLink) {
    display: none;
  }

  .icon {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {
    display: flex;
    flex-direction: column;

  }

  .navbar.responsive a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }


}


#correctAnswer {
  color: green;
  font-weight: bold;
}

#wrongAnswer {
  color: red;
}